@import "reset.css";

/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

/* Navbar styles */
.navbar {
    min-width: 181px;
    min-height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
}

.navbar a {
    padding: 0 10px;
}

/* Main styles */
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    padding-top: 109px;;
}

.search {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#search {
    width: 582px;;
    height: 34px;
    border-radius: 25px;
    border-color: rgba(223,225,229,0);
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background-color: #fff;
    margin-top: 37px;;
    color: rgba(0,0,0,.87);
    background-image: url(google-search.png);
    background-repeat: no-repeat;
    float: left;
    background-position: 5%;
    background-size: 24px 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 18px;
}

#google-search-btn  {
    background-color: rgb(242, 242, 242);
    border: 1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    padding: 11px 16px;
    margin: 0 16px;
    border-radius: 8px;


}

#google-search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#random-search-btn  {
    background-color: rgb(242, 242, 242);
    border: 1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    padding: 11px 16px;
    margin: 0 16px;
    border-radius: 8px;

}

#random-search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.offered {
    margin-top: 24px;
    margin-bottom: 24px;

}

.offered a {
    color: blue;
}

/* Footer styles */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
}

.ft-1 {
    float: left;
}

.ft-1 a {
    padding-left: 27px;
}

.ft-2 {
    float: right;
}

.ft-2 a {
    padding-right: 27px;
}



